<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disk.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @disk.author %>
</p>

<p>
  <%= image_tag @disk.image.url(:large) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @disk.price %>
</p>

<p>
  <strong>Recording year:</strong>
  <%= @disk.recording_year %>
</p>

<p>
  <strong>Status:</strong>
  <%= @disk.state.name %>
</p>

<%= link_to 'Edit', edit_disk_path(@disk) %> |
<%= link_to 'Back', disks_path %>

<%= form_for Order.new do |f| %>
  <span>Interessado pelo produto ? Digite aqui seu email para entrarmos em
  contato com vocẽ.</span>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.hidden_field :disk_id, :value => @disk.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= Comment.coment_usuario(@disk.id).each do |comment|  %>
<fieldset>
  <legend>Comentários:</legend>
    <%= comment.text %><br>
    <%= comment.created_at %>
</fieldset>
<% end %>

<%= form_for Comment.new do |f| %>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.hidden_field :disk_id, :value => @disk.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
