<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disk.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @disk.author %>
</p>

<p>
  <%= image_tag @disk.image.url(:large) %>
</p>

<p>
  <strong>Local de Entrega:</strong>
  <%= @disk.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @disk.price %>
</p>

<p>
  <strong>Recording year:</strong>
  <%= @disk.recording_year %>
</p>

<p>
  <strong>Disponibilidade:</strong>
  <%= @disk.available %>
</p>

<p>
  <strong>Status:</strong>
  <%= @disk.state.name %>
</p>

<fieldset>
  <legend>Entre em contato:</legend>
  <%= form_for Order.new do |f| %>
    <span>Interessado pelo produto ? Digite aqui seu email para entrarmos em
    contato com vocẽ.</span>
    <div class="field">
      <%= f.label :name, "Seu Nome" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.hidden_field :disk_id, :value => @disk.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</fieldset>

<% Comment.coment_usuario(@disk.id).each do |comment|  %>
<fieldset>
  <legend><%= comment.name %> disse:</legend>
    <%= comment.text %><br>
    <%= comment.created_at %>
</fieldset>
<% end %>
<br>
<%= form_for Comment.new do |f| %>
  <div class="field">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :text, "Escrever Algo" %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.hidden_field :disk_id, :value => @disk.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_disk_path(@disk) if can? :edit, User %> |
<%= link_to 'Back', disks_path if can? :back, User %>
