<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disk.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @disk.author %>
</p>

<p>
  <%= image_tag @disk.image.url(:large) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @disk.price %>
</p>

<p>
  <strong>Recording year:</strong>
  <%= @disk.recording_year %>
</p>

<p>
  <strong>Status:</strong>
  <%= @disk.state.name %>
</p>

<%= link_to 'Edit', edit_disk_path(@disk) %> |
<%= link_to 'Back', disks_path %>
