<!DOCTYPE html>
<html>
<head>
  <title>Digitalvinil</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul style="display: inline; padding: 15px;">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Cadastrar Disco', new_disk_path %></li>
  <li><%= link_to 'Cad. Estado Conservação', new_state_path %></li>
  <li><%= link_to 'Pedidos', orders_path %></li>
  <li><%= link_to 'Comentários', comments_path %></li>
</ul>
<%= yield %>

</body>
</html>
